.Home{
  margin-top: 100px;
  margin-bottom: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  max-width: 60%;
  width: 100%;
  padding-bottom: 80px;
  padding-top: 80px;
  font-size: 16px;
  
}
.home_nav_container{
    width: 100%;
    max-width: 290;
    overflow-wrap: wrap;
    display: flex;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    
   
}

.home_nav{
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgb(252, 186, 65);
    font-weight: bolder;
    width: 100%;
    max-width: 230px;
    
   
}

.img-container{
    flex-wrap: wrap;
    margin-top: 80px;
    width: 100%;
   
    
    
}

.home-img{
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    
}
@media(max-width: 470px){
    .Home{
        padding: 5px;
    }
    .home-img{
        
        margin-bottom: 10px;
        width: 100%;
        max-width: 180px;
        
    }
    .home_nav{
        margin: 10px;
        font-size: 20px;
        width: 100%;
        max-width: 180px;
    }
    
        
        
       
    
}
@media(max-width: 1550px){
    .Home{
      padding: 10px;
      max-width: 100%;
      
    }
}

@media(max-width: 2550px){
    .Home{
      padding-bottom: 50px;  
      padding-top: 50px;
      max-width: 80%;
      
    }
}

