.label_addprod{
    margin-right: 15px;
 }
 
 .label_prodname{
     margin-right: 80px;
 }
 .label_price{
     margin-right: 205px;
 }
 .label_inventory{
     margin-right: 115px;
 }
 .reg_button2{
     margin-left: 20px;
 }
 .input_container{
     margin-top: 40px;
 }
 .button_container{
     margin-top: 40px;
 }

 .add_button2{
     margin-left: 15px;
 }
 .addProd_container{
     text-align: center;
 }
 .label_image{
     margin-right: 100px;
 }
 .label_description{
     margin-right: 160px;
 }

 @media(max-width: 406px){
     .addProd_container{
         display: flex;
         flex-direction: column;

     }
     .label_addprod{
        display: block;
        margin: 0px;
     }
 }