.ProdPage-LinkCon{
    margin-bottom: 50px;
}
.prodpg-links{
    padding: 5px;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    height: 30px;
    background-color: rgb(252, 186, 65);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.myProducts-link{
    margin-left: 15px;
}

.productListPage_itemContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
}
