.product_item_container{
    
    border: black solid 1px;
    width: 23%;
    height: 210px;
    font-size: 12px;
    margin: 5px;
    /* padding-bottom: 5px; */
    overflow-wrap: break-word;
   
}

.item_button{
    font-size: 12px;
    margin-bottom: 5px;

}
.item_button2{
    margin-left: 10px;
}
a.ProductItem_Buy{
    font-size: 20px;
    text-decoration: none;
    color: black;
    height: 30px;
    background-color: rgb(252, 186, 65);
    padding: 5px;
    font-size: 18px;
}

