.product_item_container{
    display: inline-block;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    border: black solid 1px;
    width: 30%;
    font-size: 12px;
    margin: 5px;
}
.item_button{
    font-size: 12px;
    margin-bottom: 5px;

}
.item_button2{
    margin-left: 10px;
}
