
.homenav_container{
    background: rgb(33, 33, 59);
   
}
.home_nav{
    width: 100%;
    margin: 20px;
    font-size: 16px;
    text-decoration: none;
    color: White;
    font-weight: bolder;
   
}

.link_title1{
    text-decoration: initial;
    color: white;
}
.title1{
   color: White;
   font-size: 25px;
   margin: 0px;
}
.title2{
    color: white;
    font-size: 20px;
    margin:0px;
}

.header_container{
    margin: 0px;
    padding: 0px;
}

.homelink_container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header{ 
    padding: 10px;
    color: white;
    overflow-wrap:break-word ; 
    display: flex;
    justify-content: space-around;
    
}

#header_input{
    width: 492px;
    height: 21px;
    padding: 14px;
    padding-top: 15px;
    line-height: 15px;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: middle;
    margin-right: 0px;
    
}

.submit-input{
   all: initial;
   cursor: pointer;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   color: white;
   background-color: orange;
   padding: 5px;
   line-height: 15px;
   height: 21px;
   
  
}


@media (max-width: 950px){
    .home_nav{
        font-size: 14px;
    } 
    .title2{
        display: none;
    }
    .title1{
        color: White;
        font-size: 20px;
        margin: 0px;
     }
     #header_input{
        width: 292px;
        height: 21px;
        padding: 14px;
        padding-top: 15px;
        line-height: 15px;
        font-size: 15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: middle;
        margin-right: 0px;
        
    }
    
    .submit-input{
       all: initial;
       cursor: pointer;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
       color: white;
       background-color: orange;
       padding: 5px;
       line-height: 15px;
       height: 21px;
       
      
    }
}

@media (max-width: 550px){
    
     #header_input{
        width: 150px;
        height: 21px;
        padding: 14px;
        padding-top: 15px;
        line-height: 15px;
        font-size: 15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: middle;
        margin-right: 0px;
        
    }
    
    .submit-input{
       all: initial;
       cursor: pointer;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
       color: white;
       background-color: orange;
       padding: 5px;
       line-height: 15px;
       height: 21px;
       
      
    }
}


 

  
  
